body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: black;
}

button {
  background-color: rgb(0, 0, 0, 0.2);
  color: white;
  border: 2px solid white;
  border-radius: 100%;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 20px;
  /* font-weight: bold; */
}

.leftBtn {
  position: absolute;
  top: 50vh;
  left: 3vw;
}

.rightBtn {
  position: absolute;
  top: 50vh;
  right: 3vw;
}

.thumbnails {
  height: 60px;
  width: auto;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  bottom: 3vh;
  left: 50%;
  background-color: rgb(0, 0, 0, 0.95);
  padding-left: 10px;
  padding-right: 10px;
  gap: 8px;
  transform: translateX(-50%);
  border-radius: 3px;
}

#displayContainer img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

/* child elements of the thumbnail class */
.thumbnails > img {
  height: 5vh;
  width: auto;
}

@media (min-width: 800px) {
  .thumbnails {
    top: 3vh;
    height: 100px;
    gap: 10px;
  }

  .thumbnails > img {
    height: 10vh;
  }
}
