body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  /* background-color: black; */
}

button {
  background-color: grey;
  color: white;
  border: 1px solid black;
  border-radius: 100%;
  padding: 8px 12px;
  cursor: pointer;
}

.thumbnails {
  /* height: 10vh;
  width: 70vw; */
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.displayContainer {
  width: 100%;
  height: 100vh;
}

/* child elements of the thumbnail class */
.thumbnails > img {
  height: 6vh;
  width: auto;
}
